.vercel
.DS_Store
**/.DS_Store
node_modules/
android-build/
bundle.min.js
bundle.min.css
.claude/
supabase/.temp/
dist-itch/
dist-itch.zip
dist-gamejolt/
dist-gamejolt.zip
dist-newgrounds/
dist-newgrounds.zip
ng/ng.secrets.json
